.container{
    display: grid;
    height: 100vh;
    background-color: lightblue;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    grid-gap: 2px;
    padding: ;
}

nav{
    background-color:violet;
    grid-area: nav;
    text-align: center;
    justify-content: center;
    padding: 10px;
    
}
main{
    background-color: chocolate;
    grid-area: main;
    text-align: center;
    justify-content: center;
    padding: 10px;
    
}
.sidebar{
    background-color: blue;
    grid-area: sidebar;
    text-align: center;
    justify-content: center;
    padding: 10px;
    
}

.content1{
    background-color: red;
grid-area: content1;
text-align: center;
    justify-content: center;
    padding: 10px;
    
}
.content2{
    background-color: darkgreen;
    grid-area: content2;
    text-align: center;
    justify-content: center;
    padding: 10px;
    
}
.content3{
    background-color: yellow;
    grid-area: content3;
    text-align: center;
    justify-content: center;
    padding: 10px;
    
}

footer{
    background-color: indianred;
    grid-area: footer;
    text-align: center;
    justify-content: center;
    padding: 10px;
    
}


@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
}